# Data Science Tools and Ecosystems

in this notebook data science tools and ecosystems are summarized

some of the popular languages that data scientists use are;

1. python
2. java
3. R
4. julia
4. C++

some commonly used libraries by data scientists include;

1. Numpy
2. pandas
3. matplotlib
4. scipy

**objective:**
- data science languages
- libraries for data science
- Datasets; DAX, MAX
- Jupyter notebook
- basic git commands

some of the common data science tools

In [32]:
# single column table for data science tools
data = {
    "Data Science Tools": ["jupyter notebook", "Rstudio", "Apache zeppelin"]
}

# import pandas to create the table
import pandas as pd

df = pd.DataFrame(data)
print(df.to_markdown(index=False))

| Data Science Tools   |
|:---------------------|
| jupyter notebook     |
| Rstudio              |
| Apache zeppelin      |

### below are a few examples of evaluating arithmetics in python

In [33]:
(3*4)+5

17

In [34]:
# this will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes/60
print(f"{minutes} minutes is equal to {hours} hours.")

200 minutes is equal to 3.3333333333333335 hours.

## AUTHOR
Shaaban Yussuf Abduba